@font-face {
    font-family: agdasima;
    src: url(./fonts/Agdasima-Regular.ttf);
}

@font-face {
    font-family: agdasima-bold;
    src: url(./fonts/Agdasima-Bold.ttf);
}

@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-rows: max-content 3fr min-content;
    height: 100vh;
    font-family: roboto, sans-serif;
}

/* HEADER */
header {
    grid-row: 1 / 2;
    background-color: #7fa99b;
    box-shadow: 0px 2px 10px rgb(189, 188, 188);

    display: grid;
    place-items: center;
    font-family: agdasima;
    font-size: 1.3em;
}

header nav {
    margin: 0.5em 0;
}

header nav ul {
    display: flex;
    gap: 2em;
}

header nav ul {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

header nav ul li a:hover,
header nav ul li a:active {
    color: white;
}

/*CONTENT*/
#content {
    display: grid;
}



/*FOOTER */
footer {
    display: grid;
    place-items: center;
    font-size: 0.8em;
    background-color: #394a51d6;
}

.footer-container {
    margin: 0.2em 0;
}

.footer-container a {
    color: #7fa99b;
    text-decoration: none;
}

.footer-container a:hover,
.footer-container a:active {
    color: white;
}

footer .my-info {
    display: flex;
    align-items: center;
}

footer img {
    width: 15px;
    margin: 0 5px;
}

.selected {
    color: white;
}